 
.MainSectionHome{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 65px);
}
.sidepanel{
    background-color: #EFEFF1;
    width: 20vw;
    height: 100%;
    padding: 16px;
}
.sidepaneltitle{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
.mainpanel{
    width:80vw;
}

.browsetitle{
    font-size: 3rem;
    font-weight: 700;
}
.browsescreen{
    display: flex;
}
.videocards{
    display: flex;
    flex-wrap: wrap;
}
.videocard{
    padding: 8px;
}
.videocardimage{
    height: 200px;
    width: 170px;
}
.videocardtitle{
    font-size: 14px;
    font-weight: 400;
}
.videocardsubtitle{
    font-size:12px;
    font-weight: 400;
    color: #53535F;
}
.videocardtag{
    font-size: 12px;
    color: #53535F;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.05);
    border-radius: 900px;
    width: 40px;
}
.artist{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.artistname{
    font-size: 14px;
    color:#1F1F23;
}
.category{
    font-size:13px;
    color:#53535F;
    text-align: left;
}
.watchcount{
    font-size: 12px;
    color:#1F1F23;
}
.showmore{
    padding: 16px 0;
    color:#E6017A;
    font-size:12px;
}

.joincard{
    padding: 2vw;
    margin: 32px 0px;
    background-color: #fff;
    border-radius:6px;
}
.connectbuttoncard{
    padding: 8px;
    background-color:rgba(230,1,122,0.08);
    color: #E6017A;
    font-size: 13px;
    width: 120px;
    border-radius:4px;
    text-align: center;
}
.cardsubtitle{
    margin: 10px 0;
    font-size: 13px;
    text-align: left;
}
.titlecardhighlight{
    color: #E6017A;
}
.cardtitle{
    font-size: 24px;
    font-weight: 600;
    text-align: left    ;
}
/* .mainsection{
    width:80vw;
    height: 100%;
    display: flex;
    flex-direction: row;
} */

.window__frame__image {
    width: 100%;
}
.videosection{
    width:60vw;
}
.chatsection{
    width:20vw;
}
.videoinfo{
    display:flex;
    padding: 15px;
    width: 100%;
}
.creatorimage{
    width: 90px;
    height:90px;
    border-radius: 50%;
}
.creatorname{
    text-align: left;
}
.videotitle{
    font-size: 14px;
    padding: 0 0 4px 0;
}
.videogenre{
    display: flex;
    flex-direction: row;
}
.videodetails{
    align-items: flex-start;
}
.genrecategory{
    color:#E6017A;
    font-size: 13px;
    margin: 0 8px 0 0;
    width:40px;
    text-align: center;
        padding: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.genrelanguage,.genretype{
    background-color: rgba(0,0,0,0.05);
    font-size: 13px;
    margin:0 8px;
        width:80px;
    text-align: center;
    border-radius: 900px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribebutton:hover{
    background: black !important;
}
.videosection{
    background-color: #F7F7F8;
}
.creatordetails{
    display: flex;
    background-color: rgb(158, 158, 158);
    margin: 20px 8px;
    padding: 16px;
    border-radius: 16px;
}

.creatorprofile{
    width: 80px;
    height:80px;
    border-radius: 40px;
}
.creatorprofiledesc{
    padding: 0 16px;
    font-weight: 600;
    color: #ededed;
}
.creatortitle{
    font-size: 24px;
}

.socialiconcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mainIcon > img {
  margin: 6px;
}
  .logos {
    transform: scale(1);
  }

@media screen and (min-width: 500px) and (max-width: 600px) {
  .mainIcon > img {
    height: 16px;
    width: 16px;
    margin: 0 0.2rem;
  }
}

@media screen and (max-width: 500px) {
  .mainIcon > img {
    height: 16px;
    width: 16px;
    margin: 0 0.1rem;
  }

  .footer > a {
    transform: scale(0.8);
  }
}

@media screen and (min-width: 600px) {
.social-box {border-style: solid;
border-color: black;
color: black;
margin-right: 12px;
background-size: 200% 200%;
background-image: 
linear-gradient(to top, #A72424 50%, transparent 50%);
-webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
-moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
-ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
-o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
transition: background-position 300ms, color 300ms ease, border-color 300ms ease;

}

.social-box:hover {color: white;
border-color: #A72424;
background-image: 
linear-gradient(to top, #A72424 51%, transparent 50%);
background-position: 0 100%;
-webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
-moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
-ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
-o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
}

.fb{
background-image: 
linear-gradient(to top, #4267B2 50%, transparent 50%);

}
.fb:hover{
border-color: #4267B2;
background-image: 
linear-gradient(to top, #4267B2 51%, transparent 50%);
}

.twitter{
background-image: 
linear-gradient(to top, #1DA1F2 50%, transparent 50%);

}
.twitter:hover{
  border-color: #1DA1F2;
background-image: 
linear-gradient(to top, #1DA1F2 51%, transparent 50%);

}

.insta{
  background-image: 
linear-gradient(to top, #D64785 50%, transparent 50%);

}

.insta:hover{
  border-color: #D64785;
background-image: 
linear-gradient(to top, #D64785 51%, transparent 50%);

}
.linkedin{
  background-image: 
linear-gradient(to top, #007AB2 50%, transparent 50%);

}
.linkedin:hover{
  border-color: #007AB2;
background-image: 
linear-gradient(to top, #007AB2 51%, transparent 50%);

}
.medium{
  background-image: 
linear-gradient(to top, #3CB371 50%, transparent 50%);

}
.medium:hover{
  border-color: #3CB371;
background-image: 
linear-gradient(to top, #3CB371 51%, transparent 50%);

}
}